    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Raleway", sans-serif
    }
    
    body,
    html {
        height: 100%;
        line-height: 1.8;
    }
    /* Full height image header */
    
    .bgimg-1 {
        background-position: center;
        background-size: cover;
        background-image: url("../img/background.png");
        min-height: 70%;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    
    .w3-bar .w3-button {
        padding: 16px;
    }
    
    .menucontainer {
        display: inline-block;
        cursor: pointer;
    }
    
    .bar1,
    .bar2,
    .bar3 {
        width: 30px;
        height: 2px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-7px, 6px);
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-5px, -5px);
    }
    /*SOCİAL İCONS*/
    /* footer social icons */
    
    ul.social-network {
        list-style: none;
        display: inline;
        margin-left: 0 !important;
        padding: 0;
    }
    
    ul.social-network li {
        display: inline;
        margin: 0 5px;
    }
    /* footer social icons */
    
    .social-network a.icoFacebook:hover {
        background-color: #3B5998;
    }
    
    .social-network a.icoLinkedin:hover {
        background-color: #007bb7;
    }
    
    .social-network a.icoFacebook:hover i,
    .social-network a.icoLinkedin:hover i {
        color: #fff;
    }
    
    .social-network a.socialIcon:hover,
    .socialHoverClass {
        color: #44BCDD;
    }
    
    .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
    
    .social-circle li i {
        margin: 0;
        line-height: 30px;
        text-align: center;
    }
    
    .social-circle li a:hover i,
    .triggeredHover {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms--transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -ms-transition: all 0.2s;
        transition: all 0.2s;
    }
    
    .social-circle i {
        color: #595959;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        -ms-transition: all 0.8s;
        transition: all 0.8s;
    }
    
    .social-network a {
        background-color: #F9F9F9;
    }
    /*------scroll bar---------------------*/
    
     ::-webkit-scrollbar {
        width: 8px;
        height: 7px;
    }
    
     ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }
    
     ::-webkit-scrollbar-thumb {
        background: #525965;
        border: 0px none #ffffff;
        border-radius: 0px;
    }
    
     ::-webkit-scrollbar-thumb:hover {
        background: #525965;
    }
    
     ::-webkit-scrollbar-thumb:active {
        background: #525965;
    }
    
     ::-webkit-scrollbar-track {
        background: transparent;
        border: 0px none #ffffff;
        border-radius: 50px;
    }
    
     ::-webkit-scrollbar-track:hover {
        background: transparent;
    }
    
     ::-webkit-scrollbar-track:active {
        background: transparent;
    }
    
     ::-webkit-scrollbar-corner {
        background: transparent;
    }
    /* Footer */
    
    .sidebar-footer {
        position: absolute;
        width: 100%;
        bottom: 50px;
        margin-bottom: 10px;
        display: flex;
    }
    
    .sidebar-footer>a {
        flex-grow: 1;
        text-align: center;
        height: 30px;
        line-height: 30px;
        position: relative;
    }
    
    .inlarge {
        transition: transform .2s;
    }
    
    .inlarge:hover {
        transform: scale(1.02)
    }
    /*  card */
    
    .overlay-container {
        position: relative;
        width: 105%;
    }
    
    .image {
        display: block;
        width: 100%;
        height: 300px;
    }
    
    .overlay-right {
        position: absolute;
        bottom: 0;
        left: 100%;
        right: 0;
        background-color: #008CBA;
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
    }
    
    .overlay-container:hover .overlay-right {
        width: 100%;
        left: 0;
    }
    
    .overlay-left {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #008CBA;
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
    }
    
    .overlay-container:hover .overlay-left {
        width: 100%;
    }
    
    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }